@charset "utf-8";

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-color: #000;
}

body {
	background: url(../img/main_background.jpg);
	background-attachment: fixed;
	background-position: 100000px center;
	background-size: cover;
}


::-webkit-input-placeholder {
	/*Webkit browsers*/
    color: #80909B;
}
:-moz-placeholder {
	/*Mozilla Firefox 4 to 8*/
   color: #80909B;
}
::moz-placeholder {
	/*Mozilla Firefox 19+*/
   color: #80909B;
}
:-ms-input-placeholder {
	/*Internet Explorer 10+*/
    color: #80909B;
}

.hide-scroll-bars {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.hide-scroll-bars::-webkit-scrollbar {
	display: none;
}

.center-vertical {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.center-complete {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.display-none {
	display: none;
}

.top-ruler {
	height: 20px;
	padding: 0;
	margin: 0;
	background: url(../img/ruler_top.png);
	background-position: 0 top;
	-webkit-animation: movebackgroundrulertop .6s infinite linear;
	-moz-animation: movebackgroundrulertop .6s infinite linear;
	-ms-animation: movebackgroundrulertop .6s infinite linear;
	-o-animation: movebackgroundrulertop .6s infinite linear;
	animation: movebackgroundrulertop .6s infinite linear;
}

.tip-top-ruler {
	height: 20px;
	padding: 0;
	margin: 0;
	background: url(../img/ruler_top.png);
	background-position: 0 top;
}

.inputbar-container {
	padding: 0;
}

.top-inputbar {
	position: relative;
	height: 50px;
	background-color: rgba(0, 0, 10, 0.8);
	padding: 10px 15px;
}

.top-inputbar .top-inputer,
.top-inputbar .top-inputer:hover,
.top-inputbar .top-inputer:focus {
	height: 30px;
	width: 100%;
	float: left;
	padding-right: 30px;
	background-color: rgba(0, 0, 10, 0);
	border: none;
	color: #C5D8E5;
	text-align: center;
	font-family: listregular;
}

.top-inputbar .top-select-caller {
	position: absolute;
	right: 15px;
	width: 30px;
	height: 30px;
	background-color: rgba(0, 0, 10, 0);
	border: none;
	outline: none;
	color: #80909B;
	padding: 0;
	font-size: 20px;
	line-height: 26px;
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

.top-inputbar .top-link,
.top-inputbar .top-link:hover,
.top-inputbar .top-link:focus,
.top-inputbar .top-link:active {
	position: absolute;
	left: 0;
	top: 10px;
	width: 100%;
	height: 30px;
	border: none;
	outline: none;
	background-color: rgba(0, 0, 10, 0);
}

.top-link:not([disabled]):hover + .top-select-caller {
	color: #C5D8E5;
}

.top-inputbar .top-inputer-r {
	height: 30px;
	width: 100%;
	float: left;
	padding-right: 30px;
	background-color: rgba(0, 0, 10, 0);
	border: none;
	outline: none;
	color: #C5D8E5;
	text-align: left;
	font-family: listregular;
}

.top-inputbar .top-inputer-r + .top-select-caller:hover {
	color: #C5D8E5;
}

.tips-container {
	position: absolute;
	width: 100%;
}

.tips-selecter {
	padding: 30px;
	position: relative;
	background-color: rgba(0, 0, 10, 0.8);
}

.tips-selecter .tips-selecter-button {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	cursor: pointer;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #C5D8E5;
}

.tips-selecter .tips-selecter-button:hover {
	color: rgba(212, 57, 53, 0.6);
}

.tips-selecter .tips-selecter-container {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 10, 0);
	color: #C5D8E5;
	font-family: listregular;
}

.tips-selecter .tips-selecter-container .list-group {
	margin-bottom: 0;
	background-color: rgba(0, 0, 10, 0);
}

.tips-selecter .tips-selecter-container .list-group .list-group-item {
	border-left: none;
	border-right: none;
	border-color: rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 10, 0);
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

.tips-selecter .tips-selecter-container .list-group .list-group-item:hover,
.tips-selecter .tips-selecter-container .list-group .list-group-item:focus {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.tips-show-box {
	padding: 0;
	position: absolute;
	color: #FFF;
	font-size: 40px;
	font-family: listregular;
	text-align: center;
}

.tips-show {
	position: relative;
	padding: 20px 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	cursor: pointer;
	max-height: 156px;
}

.tips-success-container {
	background: rgba(47, 98, 42, 0.6);
}

.tips-info-container {
	background: rgba(47, 94, 112, 0.6);
}

.tips-warning-container {
	background: rgba(122, 81, 24, 0.6);
}

.tips-error-container {
	background: rgba(113, 30, 28, 0.6);
}

.main-box {
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.main-container {
	position: relative;
	overflow: hidden;
	background-color: rgba(0, 0, 10, 0.8);
	height: 100%;
}

.student-info-remove {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	cursor: pointer;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #C5D8E5;
}

.student-info-remove:hover {
	color: rgba(212, 57, 53, 0.6);
}

.main-container .carousel .carousel-inner .item {
	font-size: 16px;
	height: 100%;
	padding: 20px 40px;
	font-family: listregular;
	line-height: 30px;
	color: #C5D8E5;
}

.main-container .carousel .carousel-inner .item h4 {
	text-align: center;
	font-size: 18px;
}

.student-info-btn,
.student-info-btn:hover {
	border: 1px solid #C5D8E5;
	font-family: listregular;
	color: #C5D8E5;
	outline: none;
	background-color: rgba(0, 0, 10, 0);
	margin: 10px 0;
	height: 40px;
	line-height: 28px;
}

.student-info-btn:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.bottom-return {
	width: 100%;
	height: 30px;
}

.bottom-ruler {
	height: 20px;
	padding: 0;
	margin: 0;
	background: url(../img/ruler_bottom.png);
	background-position: 0 bottom;
	-webkit-animation: movebackgroundrulerbottom .6s infinite linear;
	-moz-animation: movebackgroundrulerbottom .6s infinite linear;
	-ms-animation: movebackgroundrulerbottom .6s infinite linear;
	-o-animation: movebackgroundrulerbottom .6s infinite linear;
	animation: movebackgroundrulerbottom .6s infinite linear;
}

.tip-bottom-ruler {
	height: 20px;
	padding: 0;
	margin: 0;
	background: url(../img/ruler_bottom.png);
	background-position: 0 bottom;
}
