.preloader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10001;
	width: 100%;
	height: 100%;
	text-align: center;
}

.preloader::before,
.preloader::after {
	display: block;
	content: '';
	width: 100%;
	height: 50%;
	position: fixed;
	left: 0;
	background: #000;
	z-index: 10002;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.preloader::before {
	top: 0;
}

.preloader::after {
	top: 50%;
}

.preloader .loader {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10003;
	text-transform: lowercase;
	color: #C5D8E5;
	font-size: 20px;
	font-weight: 300%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.preloader .loader::before,
.preloader .loader::after {
	display: block;
	content: '';
	position: absolute;
	top: -40px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	opacity: .0;
	width: 30px;
	height: 30px;
	border: solid 3px rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.preloader .loader::before {
	border-color: #C5D8E5;
	-webkit-animation: preloaderAnimation 2s 1s ease-in-out infinite;
	-o-animation: preloaderAnimation 2s 1s ease-in-out infinite;
	animation: preloaderAnimation 2s 1s ease-in-out infinite;
}

.preloader .loader::after {
	-webkit-animation: preloaderAnimation 2s ease-in-out infinite;
	-o-animation: preloaderAnimation 2s ease-in-out infinite;
	animation: preloaderAnimation 2s ease-in-out infinite;
}

.loaded .preloader::before {
	opacity: .7;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.loaded .preloader::after {
	opacity: .7;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
}

@keyframes preloaderAnimation {
	0% {
		opacity: 1.0;
		-webkit-transform: scale(0.7);
		-moz-transform: scale(0.7);
		-ms-transform: scale(0.7);
		-o-transform: scale(0.7);
		transform: scale(0.7);
	}
	30% {
		opacity: 1.0;
		-webkit-transform: scale(0.3);
		-moz-transform: scale(0.3);
		-ms-transform: scale(0.3);
		-o-transform: scale(0.3);
		transform: scale(0.3);
	}
	100% {
		opacity: .0;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
}
